/* https://colorhunt.co/palette/f0a500334756082032000000 */

body {
    font-family: sans-serif;
    margin: .25em;
    padding: .25em;
}

#header {
    background-color: #082032;
    color: white;
    padding: .25em 1em;
    margin: .25em;
    border-radius: 25px;
}

#header h1 {
    justify-content: flex-start;
}

i.icon {
    font-style: normal;
    font-size: 200%;
    padding: 0 10px
}

i.icon-sm {
    font-style: normal;
    font-size: 125%;
    padding: 0 10px
}

#collections {
    display: flex;
    flex-wrap: wrap;
}

.collection {
    width: 300px;

    background-color: #334756;
    color: white;
    padding: .25em 1em;
    margin: .25em;
    border-radius: 10px;
}

.selected {
    background-color: #F0A500;
    color: #334756;
}

.collection h1 {
    font-size: 1.5em;
}

#books {
    display: flex;
    flex-flow: column nowrap;
}

.book {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.title, .fileName, .pageCount, .authors {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
    white-space: nowrap;
    border-bottom: 1px solid #d0d0d0;
}

#search {
    text-align: center;
}

#search input[type=text] {
    width: 50%;
    margin: .25em;
    padding: .5em;
}

#search input[type=submit] {
    margin: .25em;
    padding: .25em;
}

div.nav {
    text-align: center;
}

ul.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

ul.nav li.active {
    font-weight: bold;
}

ul.nav a {
    text-decoration: none;
    color: white;
}

ul.contents li {
    list-style-type: none;
}

ul.contents li.level_1 {
    padding-left: 2em;
}

ul.contents li.level_2 {
    padding-left: 4em;
}

ul.contents li.level_3 {
    padding-left: 6em;
}

ul.contents li.level_4 {
    padding-left: 8em;
}

ul.contents li.level_5 {
    padding-left: 10em;
}
